<!--=== Header ===-->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">捷陞專業自動門</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="<%= (req.path == '/')?'active':'' %>"><a href="/">關於我們</a></li>
        <li class="<%= (req.path.search('/product') != -1)?'active':'' %>"><a href="/product/group/0/page/1">產品介紹</a></li>
        <li class="<%= (req.path.search('/part') != -1)?'active':'' %>"><a href="/part/group/0/page/1">周邊配件</a></li>
        <li class="<%= (req.path.search('/performance') != -1)?'active':'' %>"><a href="/performance/group/0/page/1">工程實績</a></li>
        <li class="<%= (req.path === '/issue')?'active':'' %>"><a href="/issue">常見問題</a></li>
        <li class="<%= (req.path === '/contact')?'active':'' %>"><a href="/contact">聯絡我們</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!--=== End Header ===-->

<% LayoutUtils.addScriptBlock(``); %>
