<!--=== Header ===-->
<nav class="navbar navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <!-- <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> -->
        <i class="fa fa-list" aria-hidden="true"></i>
      </button>
      <a class="navbar-brand" href="/">
        <img width='108px' src="/assets/jason/images/logo.png" />
        <span>捷陞專業自動門</span>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="<%= (req.path == '/')?'active':'' %>"><a href="/">關於我們</a></li>
        <li class="<%= (req.path.search('/product') != -1)?'active':'' %>"><a href="/product/group/0/page/1">產品介紹</a></li>
        <li class="<%= (req.path.search('/part') != -1)?'active':'' %>"><a href="/part/group/0/page/1">周邊配件</a></li>
        <li class="<%= (req.path.search('/performance') != -1)?'active':'' %>"><a href="/performance/group/0/page/1">工程實蹟</a></li>
        <li class="<%= (req.path === '/issue')?'active':'' %>"><a href="/issue">常見問題</a></li>
        <li class="<%= (req.path === '/contact')?'active':'' %>"><a href="/contact">聯絡我們</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
    <span class="tel"><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:+886422467160">04 2246-7160</a></span>
  </div><!-- /.container-fluid -->
</nav>
<nav class="sec-nav">
  <div class="container">
    <h2>AUTOMATIC DOOR</h2>
  </div>
  <ul>
    <li class="<%= (req.path == '/')?'active':'' %>"><a href="/">關於我們</a></li>
    <li class="<%= (req.path.search('/product') != -1)?'active':'' %>"><a href="/product/group/0/page/1">產品介紹</a></li>
    <li class="<%= (req.path.search('/part') != -1)?'active':'' %>"><a href="/part/group/0/page/1">周邊配件</a></li>
    <li class="<%= (req.path.search('/performance') != -1)?'active':'' %>"><a href="/performance/group/0/page/1">工程實蹟</a></li>
    <li class="<%= (req.path === '/issue')?'active':'' %>"><a href="/issue">常見問題</a></li>
    <li class="<%= (req.path === '/contact')?'active':'' %>"><a href="/contact">聯絡我們</a></li>
  </ul>
</nav>
<!--=== End Header ===-->

<% LayoutUtils.addScriptBlock(``); %>
