<div class="b2b-breadcrumbs">
  <div class="container" style="max-width: 960px;">
    <h1>確認訂購單</h1>
  </div>
</div>
<div class="container b2b-order-form">
	<div class="row" style="margin-top: 2em;">
    <div class="col-sm-4">
      <i class="fa fa-user info-icon" aria-hidden="true"></i>
    </div>
    <div class="col-sm-8">
      <table style="margin-top: 3.2em;">
        <tbody>
          <tr>
            <td style="width: 6em;">客戶名稱：</td><td><%= data.item.User.displayName %></td>
          </tr>
          <tr>
            <td>購買人：</td><td><%= data.item.displayName %></td>
          </tr>
          <tr>
            <td>電子郵件：</td><td><%= data.item.email %></td>
          </tr>
          <tr>
            <td>通訊地址：</td><td><%= data.item.User.address %></td>
          </tr>
          <tr>
            <td>電話：</td><td><%= data.item.User.phone1 %></td>
          </tr>
        </tbody>
      </table>
    </div>
	</div>

  <div class="row" style="margin-top: 2em;">
    <div class="col-sm-4">
      <i class="fa fa-truck info-icon" aria-hidden="true"></i>
    </div>
    <div class="col-sm-8">
      <table style="margin-top: 3.2em;">
        <tbody>
          <tr>
            <td style="width: 6em;">運送方式：</td><td><%= data.item.shippingMethod %></td>
          </tr>
          <tr>
            <td>運費：</td><td>免運費</td>
          </tr>
          <tr>
            <td>收件地址：</td><td><%= data.item.shippingPostcode + ' ' + data.item.shippingCity +data.item.shippingAddress1 %></td>
          </tr>
          <tr>
            <td>收件人：</td><td><%= data.item.shippingLastname + ' ' + data.item.shippingFirstname %></td>
          </tr>
          <tr>
            <td>聯絡電話：</td><td><%= data.item.telephone %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <table class="table" style="margin-top: 3.2em;">
    <thead>
      <tr>
        <th>品名</th><th>單價</th><th>數量</th><th>小計</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i = 0, len = data.product.length; i < len; i++) { %>
        <tr>
          <td><%= data.product[i].model %></td><td><%= data.product[i].price %></td><td><%= data.product[i].quantity %></td><td><%= data.product[i].total %></td>
        </tr>
      <% } %>
    </tbody>
  </table>

  <table class="b2b-bill-info pull-right" style="margin-top: 1em;">
    <tr>
      <td>合計</td><td><%= data.item.total %></td>
    </tr>
    <tr>
      <td>營業稅</td><td><%= Math.round(data.item.total * 0.05) %></td>
    </tr>
    <tr>
      <td>總計</td><td><%= data.item.total %></td>
    </tr>
  </table>

  <a href="javascript: void(0)" role="button" class="btn btn-default btn-lg pull-right paid" style="clear:right; display:inline-block; margin:1.6em 0 3em;">付款</a>

</div>

<% LayoutUtils.addScriptBlock(`
  $(document).ready(function(){
    $('.paid').click(function(){
      $.ajax({
        type: 'POST',
        url: '/api/admin/order/confirm/${data.item.id}',
        success: function(data) {
          swal("付款完成!!!")
        }
      });
    });
  })
`); %>
