<% LayoutUtils.addStylesheets('/assets/jason/page/index/index.css'); %>
<% LayoutUtils.addStylesheets('/assets/jason/page/product/product.css'); %>

<div class="container body">

<% include ../../partials/banner.ejs %>

  <div class="row">
    <div class="col-md-9 col-md-push-3 content">

      <article>
        <header class="article-title">
          <h1 id="intro">週邊配件</h2>
        </header>

        <% if (posts.length === 0) { %>
          <div class="no-product">
            配件尚未推出，敬請期待
          </div>
        <% } %>
        <% for (let item of posts) { %>
          <div class="product row">
            <div class="col-xs-3 product-img-wrapper">
              <img class="img-thumbnail" src="<%= item.coverUrl %>" alt="產品圖" />
            </div>
            <div class="col-xs-9 product-content">
              <h1><%= item.Part.title %></h1>
              <small><%= item.Part.specification %></small>
              <p>
                <%= item.Part.introduction %>
              </p>
            </div>
          </div>
        <% } %>

        <% if (maxPage > 1) { %>
        <nav aria-label="Page navigation">
          <ul class="product pagination">
            <li>
              <a href="/part/group/<%= req.params.groupId %>/page/<%= prevPage %>" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>

            <% for (let i = 1; i <= maxPage; i++){ %>
              <% if (i == page) { %>
                <li class="active">
                  <a href="/part/group/<%= req.params.groupId %>/page/<%= i %>"><%= i %></a>
                </li>
              <% } else { %>
                <li>
                  <a href="/part/group/<%= req.params.groupId %>/page/<%= i %>"><%= i %></a>
                </li>
              <% } %>
            <% } %>
            <li>
              <a href="/part/group/<%= req.params.groupId %>/page/<%= nextPage %>" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
        <% } %>

      </article>
    </div>

    <div class="col-md-3 col-md-pull-9" style="padding-right:2.5em;">
      <div class="side-menu" id="sticker">
        <h3>
          週邊配件
          <small>Parts</small>
        </h3>
        <div class="list-group">
          <a href="/part/group/0/page/1" class="list-group-item <%= (0 == req.params.groupId)?'active':'' %>">全部配件</a>
          <% for(let group of partGroups) { %>
            <a href="/part/group/<%= group.id %>/page/1" class="list-group-item <%= (group.id == req.params.groupId)?'active':'' %>"><%= group.title %></a>
          <% } %>
        </div>
      </div>
    </div>
  </div>

</div>
