<% LayoutUtils.addMeta({ property:"og:image:url", content: SocialService.getShareUrl() + "/assets/jason/images/map.jpg" }); %>
<% LayoutUtils.addMeta({ property:"og:image:type", content:"image/png" }); %>
<% LayoutUtils.addMeta({ property:"og:image:width", content:"553" }); %>
<% LayoutUtils.addMeta({ property:"og:image:height", content:"457" }); %>
<% LayoutUtils.addMeta({ property:"og:title", content:"捷陞專業自動門" }); %>
<% LayoutUtils.addMeta({ property:"og:description", content:"週邊配件" }); %>

<% LayoutUtils.addStylesheets('/assets/jason/page/index/index.css'); %>
<% LayoutUtils.addStylesheets('/assets/jason/page/product/product.css'); %>

<div class="container body">

<% include ../../partials/banner.ejs %>

  <div class="row">
    <div class="col-md-9 col-md-push-3 content">

      <article>
        <header class="article-title">
          <h1 id="intro">週邊配件</h2>
        </header>

        <% if (posts.length === 0) { %>
          <div class="no-product">
            配件尚未推出，敬請期待
          </div>
        <% } %>
        <% for (var item of posts) { %>
          <a class="product row" href="/part/show/<%= item.id %>">
            <div class="col-xs-3 product-img-wrapper">
              <div class="watermark-wrapper">
                <% if( new Date('2016-12-20') < new Date(item.createdAt) ) { %>
                  <img class="watermark" src="/assets/jason/images/watermark.png">
                  <span style="opacity: 1;" class="product-watermark-text"><%= item.title %></span>
                  <% if (item.modelName) { %>
                    <span style="opacity: 1;" class="product-watermark-text sub-text"><%= item.modelName %></span>
                  <% } %>
                <% } %>
                <img alt="<%= item.title %>" class="img-thumbnail" src="<%= item.Images[0] ? item.Images[0].url:'/assets/jason/images/j1-1.png' %>" alt="產品圖" />
              </div>
            </div>
            <div class="col-xs-9 product-content">
              <h1><%= item.title %></h1>
              <% if (item.modelName) { %>
                <small><%= item.modelName %></small>
              <% } %>

              <% if (item.introduction) { %>
                <p>
                  <%= item.introduction %>
                </p>
              <% } %>
            </div>
          </a>
        <% } %>

        <% if (maxPage > 1) { %>
        <nav aria-label="Page navigation">
          <ul class="product pagination">
            <li>
              <a href="/part/group/<%= req.params.groupId %>/page/<%= prevPage %>" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>

            <% for (var i = 1; i <= maxPage; i++){ %>
              <% if (i == page) { %>
                <li class="active">
                  <a href="/part/group/<%= req.params.groupId %>/page/<%= i %>"><%= i %></a>
                </li>
              <% } else { %>
                <li>
                  <a href="/part/group/<%= req.params.groupId %>/page/<%= i %>"><%= i %></a>
                </li>
              <% } %>
            <% } %>
            <li>
              <a href="/part/group/<%= req.params.groupId %>/page/<%= nextPage %>" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
        <% } %>

      </article>
    </div>

    <div class="col-md-3 col-md-pull-9">
      <div class="side-menu" id="sticker">
        <ul class="list-group">
          <li>
            <h3 class="list-group-item list-group-item-title">
              週邊配件
              <small>Parts</small>
            </h3>
          </li>
          <li><a href="/part/group/0/page/1" class="list-group-item <%= (0 == req.params.groupId)?'act':'' %>">全部配件</a></li>
          <% for(var group of partGroups) { %>
            <li><a href="/part/group/<%= group.id %>/page/1" class="list-group-item <%= (group.id == req.params.groupId)?'act':'' %>"><%= group.title %></a></li>
          <% } %>
        </ul>
      </div>
    </div>
  </div>

  <% include ../../partials/footer.ejs %>

</div>
