<% LayoutUtils.addStylesheets('/assets/jason/page/index/index.css'); %>
<% LayoutUtils.addStylesheets('/assets/jason/page/product/product.css'); %>

<div class="container body">

<% include ../../partials/banner.ejs %>

  <div class="row">
    <div class="col-md-9 col-md-push-3 content">

      <article>
        <header class="article-title">
          <h1 id="intro">工程實蹟</h2>
        </header>

        <% if (posts.length === 0) { %>
          <div class="no-product">
            實蹟尚未整理，敬請期待
          </div>
        <% } %>

        <% if (isShowWithTable) { %>
          <table class="table table-bordered" style="margin-top: 2.6em;max-width: 600px;">
            <tr>
              <th>單位名稱</th><th>地點</th>
            </tr>
            <% for (var item of posts) { %>
              <tr>
                <td><%= item.title %></td> <td><%= item.location %></td>
              </tr>
            <% } %>
          </table>
        <% } else { %>

          <% for (var item of posts) { %>
            <a class="product row" href="/performance/show/<%= item.Post.id %>">
              <div class="col-xs-3 product-img-wrapper">
                <img class="img-thumbnail" src="<%= (item.Images[0])?item.Images[0].url:'' %>" alt="工程實蹟圖" />
              </div>
              <div class="col-xs-9 product-content">
                <h1><%= item.title %></h1>
                <% if (item.location) { %>
                  <small><%= item.location %></small>
                <% } %>

                <% if (item.introduction) { %>
                  <p>
                    <%= item.introduction %>
                  </p>
                <% } %>
              </div>
            </a>
          <% } %>

        <% } %>

        <% if (maxPage > 1) { %>
        <nav aria-label="Page navigation">
          <ul class="product pagination">
            <li>
              <a href="/performance/group/<%= req.params.groupId %>/page/<%= prevPage %>" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>

            <% for (var i = 1; i <= maxPage; i++){ %>
              <% if (i == page) { %>
                <li class="active">
                  <a href="/performance/group/<%= req.params.groupId %>/page/<%= i %>"><%= i %></a>
                </li>
              <% } else { %>
                <li>
                  <a href="/performance/group/<%= req.params.groupId %>/page/<%= i %>"><%= i %></a>
                </li>
              <% } %>
            <% } %>
            <li>
              <a href="/performance/group/<%= req.params.groupId %>/page/<%= nextPage %>" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
        <% } %>

      </article>
    </div>

    <div class="col-md-3 col-md-pull-9" style="padding-right:2.5em;">
      <div class="side-menu" id="sticker">
        <h3>
          產品介紹
          <small>Product</small>
        </h3>
        <div class="list-group">
          <% for(var group of performanceGroups) { %>
            <a href="/performance/group/<%= group.id %>/page/1" class="list-group-item <%= (group.id == req.params.groupId)?'active':'' %>"><%= group.title %></a>
          <% } %>
        </div>
      </div>
    </div>
  </div>

</div>

<% LayoutUtils.addScriptBlock(`
jQuery(document).ready(function() {

});
`); %>
