<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <title>中草藥不良反應通報系統</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,800,800italic">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:400,300,700">

  <!-- Font Awesome CSS -->
  <link rel="stylesheet" href="/assets/mvp/bower_components/fontawesome/css/font-awesome.min.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/assets/mvp/bower_components/bootstrap/dist/css/bootstrap.min.css">

  <!-- Bower CSS -->
  <link rel="stylesheet" href="/assets/mvp/bower_components/select2/dist/css/select2.min.css">
  <link rel="stylesheet" href="/assets/mvp/bower_components/select2-bootstrap-theme/dist/select2-bootstrap.min.css">
  <link rel="stylesheet" href="/assets/mvp/bower_components/jquery-icheck/skins/minimal/_all.css">
  <link rel="stylesheet" href="/assets/mvp/bower_components/bootstrap-3-timepicker/css/bootstrap-timepicker.css">
  <link rel="stylesheet" href="/assets/mvp/bower_components/bootstrap-datepicker/css/datepicker3.css">
  <link rel="stylesheet" href="/assets/mvp/bower_components/bootstrap-jasny/dist/css/jasny-bootstrap.css">
  <link rel="stylesheet" href="/assets/mvp/bower_components/jquery-simplecolorpicker/jquery.simplecolorpicker.css">

  <!-- App CSS -->
  <link rel="stylesheet" href="/assets/mvp/css/mvpready-admin.css">

  <!-- Favicon -->
  <link rel="shortcut icon" href="/favicon.ico">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Customize -->
  <link rel="stylesheet" href="/assets/tcmadr/css/custom.css" />
</head>

<body class="  ">

<div id="wrapper">

  <%- include partials/navbar.ejs %>

  <%- include partials/sidebar.ejs %>

  <div class="content">

    <%- body -%>

  </div> <!-- /.content-page -->

</div> <!-- /#wrapper -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Core JS -->
<script src="/assets/mvp/bower_components/jquery/dist/jquery.js"></script>
<script src="/assets/mvp/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/assets/mvp/bower_components/slimscroll/jquery.slimscroll.min.js"></script>



<!-- Plugin JS -->
<script src="/assets/mvp/bower_components/flot/excanvas.min.js"></script>
<script src="/assets/mvp/bower_components/flot/jquery.flot.js"></script>
<script src="/assets/mvp/bower_components/flot/jquery.flot.pie.js"></script>
<script src="/assets/mvp/bower_components/flot/jquery.flot.resize.js"></script>
<script src="/assets/mvp/bower_components/flot/jquery.flot.time.js"></script>
<script src="/assets/mvp/bower_components/flot/jquery.flot.stack.js"></script>
<script src="/assets/mvp/bower_components/flot.tooltip/js/jquery.flot.tooltip.js"></script>
<script src="/assets/mvp/bower_components/flot.orderbars/js/jquery.flot.orderBars.js"></script>
<script src="/assets/mvp/bower_components/select2/dist/js/select2.min.js"></script>
<script src="/assets/mvp/bower_components/jquery-icheck/icheck.min.js"></script>

<!-- App JS -->
<script src="/assets/mvp/global/js/mvpready-core.js"></script>
<script src="/assets/mvp/global/js/mvpready-helpers.js"></script>
<script src="/assets/mvp/js/mvpready-admin.js"></script>


<!-- Demo JS -->
<script src="/assets/mvp/global/js/demos/reports/line.js"></script>
<script src="/assets/mvp/global/js/demos/flot/donut.js"></script>
<script src="/assets/mvp/global/js/demos/flot/stacked-horizontal.js"></script>
<script src="/assets/mvp/global/js/demos/flot/auto.js"></script>


<script type="text/javascript">
$('.demo-icheck input').iCheck ({
checkboxClass: 'ui-icheck icheckbox_minimal-grey',
radioClass: 'ui-icheck iradio_minimal-grey'
}).on ('ifChanged', function (e) {
$(e.currentTarget).trigger ('change')
});
</script>

<!-- JS Page Level -->
<% LayoutUtils.getScripts().forEach(function(scriptSrc) { %><script type="text/javascript" src="<%= scriptSrc %>"></script>
<% }); %>

<script type="text/javascript">
<%- LayoutUtils.getScriptBlock() %>
</script>

</body>
</html>
